.main {
  display: flex;
}

.left {
  flex: 1;
  background: #1d1d1d;
  color: white;
  padding: 16px;
}

.right {
  flex: 7;
}

.container {
  /* padding: 16px; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.spinner {
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 1.5em;
}
